.containerSelect {
  position: absolute;
  width: 100px;
  margin: auto;
  transform: translateY(-40px) translateX(-60px);
  /* margin-top: calc(50vh - 50px); */
}

option {
  background-color: rgb(56, 50, 50) !important;
  font-family: "Poppins";
  border-radius: 10px !important;
  box-shadow: inset 0px 0px 20px 20px #ff0000;
}
option:hover {
  box-shadow: 0px 0px 20px 20px #191919;
  background-color: rgb(12, 27, 232) !important;
}
.selectClassName {
  font-family: "Poppins";
  padding: 15px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 1px solid #191919;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  outline: none;
}
.selectClassName > option {
  background-color: #191919;
  font-size: 17px;
  cursor: pointer;
  font-weight: 777;
}
.selectClassName > option:hover {
  background-color: #191919;
  cursor: pointer;
}

.downArrow {
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  background: transparent;
  text-indent: -999px;
  border-top: 2px solid #191919;
  border-left: 2px solid #191919;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
  transform: rotate(-135deg);
  right: calc(35px / 2);
  bottom: calc(42px / 2);
  margin: auto;
  content: "";
  pointer-events: none;
}

.selectClassName::after {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}

@media (max-width: 577px) {
  .containerSelect {
    width: 70px;
    transform: translateY(-40px) translateX(-30px);
  }
}
@media (max-width: 447px) {
  .containerSelect {
    width: 60px;
    transform: translateY(-33px) translateX(-10px);
  }
  .downArrow {
    right: calc(20px / 2);
    bottom: calc(30px / 2);
  }
  .selectClassName {
    width: 80%;
    padding: 5px;
  }
}
