.containerSelect {
  position: absolute;
  width: 100px;
  margin: auto;
  transform: translateY(-40px) translateX(-60px);
  /* margin-top: calc(50vh - 50px); */
}
option {
  background-color: rgb(56, 50, 50) !important;
  border-radius: 10px !important;
}
option:hover{
	background-color: #222 !important;
	
}
.selectClassName {
  padding: 15px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-family: "Montserrat";
  width: 100%;
  border: 1px solid #191919;
  border-radius: 6px;
  font-family: "Montserrat";
  background: transparent;
  cursor: pointer;
  color: white;
  outline: none;
}
.selectClassName > option {
  background-color: #191919;
  font-size: 17px;
  cursor: pointer;
  font-weight: 777;
}
.selectClassName > option:hover {
  background-color: #191919;
  cursor: pointer;
}

.downArrow {
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  background: transparent;
  text-indent: -999px;
  border-top: 2px solid #191919;
  border-left: 2px solid #191919;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
  transform: rotate(-135deg);
  right: calc(35px / 2);
  bottom: calc(42px / 2);
  margin: auto;
  content: "";
  pointer-events: none;
}

.selectClassName::after {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}
